<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6bb77">  <td>21/01/20 16:05:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_03_Register_Login_Page_Object.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_03_Register_Login_Page_Object@2e005c4b]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="a7bc6e">  <td>21/01/20 16:05:38</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_14_Register_Login_Allure_Report.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_14_Register_Login_Allure_Report@4567f35d]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="c1bced">  <td>21/01/20 16:05:38</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_01_Register_Login.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_01_Register_Login@5ffead27]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/01/20 16:05:38</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_07_Register_Login_Swith_Page_Type.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_07_Register_Login_Swith_Page_Type@6356695f]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>21/01/20 16:05:38</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_06_Register_Login_Page_Generator_Manager.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_06_Register_Login_Page_Generator_Manager@a514af7]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>21/01/20 16:05:38</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_04_Register_Login_Multiple_Browser.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_04_Register_Login_Multiple_Browser@4fb61f4a]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="67827e">  <td>21/01/20 16:05:38</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_08_Register_Login_Dynamic_Locator_Rest_Parameter.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_08_Register_Login_Dynamic_Locator_Rest_Parameter@4fb0f2b9]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ac80a1">  <td>21/01/20 16:05:38</td>   <td>167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_13_Register_Login_Log_Report_HTML.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_13_Register_Login_Log_Report_HTML@7b9a4292]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="d37183">  <td>21/01/20 16:05:38</td>   <td>172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_11_Register_Login_Element_Undisplayed.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_11_Register_Login_Element_Undisplayed@4a94ee4]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/01/20 16:05:38</td>   <td>189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_02_Register_Login_Abstract_Page_2extends.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_02_Register_Login_Abstract_Page_2extends@4cc451f2]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>21/01/20 16:05:38</td>   <td>212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_12_Register_Login_Assert_Verify.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_12_Register_Login_Assert_Verify@4466af20]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>21/01/20 16:05:38</td>   <td>218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_02_Register_Login_Abstract_Page_01.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_02_Register_Login_Abstract_Page_01@3e58a80e]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>21/01/20 16:05:38</td>   <td>229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_05_Register_Login_Page_Factory.TC_01_Register()[pri:0, instance:com.nopcommerce.users.Level_05_Register_Login_Page_Factory@6379eb]">TC_01_Register</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>21/01/20 16:05:38</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part1_Search.TC_01_Search_Product_With_Namer()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part1_Search@359f7cdf]">TC_01_Search_Product_With_Namer</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>21/01/20 16:05:38</td>   <td>107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_16_Register_Login_Close_Browser.TC_01_Sort_Name_Ascendingr()[pri:0, instance:com.nopcommerce.users.Level_16_Register_Login_Close_Browser@6b927fb]">TC_01_Sort_Name_Ascendingr</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ddaeda">  <td>21/01/20 16:05:38</td>   <td>155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part2_Sort.TC_01_Sort_Name_Ascendingr()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part2_Sort@79924b]">TC_01_Sort_Name_Ascendingr</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="938063">  <td>21/01/20 16:05:38</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_20_Sort_ASC_DESC.TC_01_Sort_Product_Name()[pri:0, instance:com.saucelab.Level_20_Sort_ASC_DESC@4f6ee6e4]">TC_01_Sort_Product_Name</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="888c85">  <td>21/01/20 16:05:38</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_10_Upload_File.TC_01_UploadFile()[pri:0, instance:com.nopcommerce.admin.Level_10_Upload_File@4f18837a]">TC_01_UploadFile</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="87b79e">  <td>21/01/20 16:05:38</td>   <td>199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_17_Register_Login_Pattern_Object.TC_01_Validate_At_Register_Form()[pri:0, instance:com.nopcommerce.users.Level_17_Register_Login_Pattern_Object@294425a7]">TC_01_Validate_At_Register_Form</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="a6bb77">  <td>21/01/20 16:05:38</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_03_Register_Login_Page_Object.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_03_Register_Login_Page_Object@2e005c4b]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="a7bc6e">  <td>21/01/20 16:05:38</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_14_Register_Login_Allure_Report.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_14_Register_Login_Allure_Report@4567f35d]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="c1bced">  <td>21/01/20 16:05:38</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_01_Register_Login.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_01_Register_Login@5ffead27]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/01/20 16:05:38</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_07_Register_Login_Swith_Page_Type.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_07_Register_Login_Swith_Page_Type@6356695f]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>21/01/20 16:05:38</td>   <td>100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_06_Register_Login_Page_Generator_Manager.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_06_Register_Login_Page_Generator_Manager@a514af7]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>21/01/20 16:05:38</td>   <td>129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_04_Register_Login_Multiple_Browser.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_04_Register_Login_Multiple_Browser@4fb61f4a]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="67827e">  <td>21/01/20 16:05:38</td>   <td>141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_08_Register_Login_Dynamic_Locator_Rest_Parameter.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_08_Register_Login_Dynamic_Locator_Rest_Parameter@4fb0f2b9]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ac80a1">  <td>21/01/20 16:05:38</td>   <td>169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_13_Register_Login_Log_Report_HTML.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_13_Register_Login_Log_Report_HTML@7b9a4292]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="d37183">  <td>21/01/20 16:05:38</td>   <td>176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_11_Register_Login_Element_Undisplayed.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_11_Register_Login_Element_Undisplayed@4a94ee4]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/01/20 16:05:38</td>   <td>192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_02_Register_Login_Abstract_Page_2extends.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_02_Register_Login_Abstract_Page_2extends@4cc451f2]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>21/01/20 16:05:38</td>   <td>215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_12_Register_Login_Assert_Verify.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_12_Register_Login_Assert_Verify@4466af20]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>21/01/20 16:05:38</td>   <td>222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_02_Register_Login_Abstract_Page_01.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_02_Register_Login_Abstract_Page_01@3e58a80e]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>21/01/20 16:05:38</td>   <td>233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_05_Register_Login_Page_Factory.TC_02_Login()[pri:0, instance:com.nopcommerce.users.Level_05_Register_Login_Page_Factory@6379eb]">TC_02_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/01/20 16:05:38</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_18_Live_Coding_Liveguru.TC_02_Login_To_System()[pri:0, instance:com.liveguru.user.Level_18_Live_Coding_Liveguru@694abbdc]">TC_02_Login_To_System</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="87b79e">  <td>21/01/20 16:05:38</td>   <td>203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_17_Register_Login_Pattern_Object.TC_02_Register_Success()[pri:0, instance:com.nopcommerce.users.Level_17_Register_Login_Pattern_Object@294425a7]">TC_02_Register_Success</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>21/01/20 16:05:38</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part1_Search.TC_02_Search_Product_With_Category()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part1_Search@359f7cdf]">TC_02_Search_Product_With_Category</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>21/01/20 16:05:38</td>   <td>110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_16_Register_Login_Close_Browser.TC_02_Sort_Name_Descending()[pri:0, instance:com.nopcommerce.users.Level_16_Register_Login_Close_Browser@6b927fb]">TC_02_Sort_Name_Descending</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ddaeda">  <td>21/01/20 16:05:38</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part2_Sort.TC_02_Sort_Name_Descending()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part2_Sort@79924b]">TC_02_Sort_Name_Descending</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="938063">  <td>21/01/20 16:05:38</td>   <td>86</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_20_Sort_ASC_DESC.TC_02_Sort_Product_Price()[pri:0, instance:com.saucelab.Level_20_Sort_ASC_DESC@4f6ee6e4]">TC_02_Sort_Product_Price</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/01/20 16:05:38</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_18_Live_Coding_Liveguru.TC_03_Account_Information()[pri:0, instance:com.liveguru.user.Level_18_Live_Coding_Liveguru@694abbdc]">TC_03_Account_Information</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="938063">  <td>21/01/20 16:05:38</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_20_Sort_ASC_DESC.TC_03_Account_Information()[pri:0, instance:com.saucelab.Level_20_Sort_ASC_DESC@4f6ee6e4]">TC_03_Account_Information</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="87b79e">  <td>21/01/20 16:05:38</td>   <td>206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_17_Register_Login_Pattern_Object.TC_03_Login()[pri:0, instance:com.nopcommerce.users.Level_17_Register_Login_Pattern_Object@294425a7]">TC_03_Login</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>21/01/20 16:05:38</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part1_Search.TC_03_Search_Product_With_Sub_Category()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part1_Search@359f7cdf]">TC_03_Search_Product_With_Sub_Category</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>21/01/20 16:05:38</td>   <td>113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_16_Register_Login_Close_Browser.TC_03_Sort_Price_Ascending()[pri:0, instance:com.nopcommerce.users.Level_16_Register_Login_Close_Browser@6b927fb]">TC_03_Sort_Price_Ascending</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ddaeda">  <td>21/01/20 16:05:38</td>   <td>160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part2_Sort.TC_03_Sort_Price_Ascending()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part2_Sort@79924b]">TC_03_Sort_Price_Ascending</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="a6bb77">  <td>21/01/20 16:05:38</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_03_Register_Login_Page_Object.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_03_Register_Login_Page_Object@2e005c4b]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="c1bced">  <td>21/01/20 16:05:38</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_01_Register_Login.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_01_Register_Login@5ffead27]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/01/20 16:05:38</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_07_Register_Login_Swith_Page_Type.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_07_Register_Login_Swith_Page_Type@6356695f]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>21/01/20 16:05:38</td>   <td>104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_06_Register_Login_Page_Generator_Manager.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_06_Register_Login_Page_Generator_Manager@a514af7]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>21/01/20 16:05:38</td>   <td>133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_04_Register_Login_Multiple_Browser.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_04_Register_Login_Multiple_Browser@4fb61f4a]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="67827e">  <td>21/01/20 16:05:38</td>   <td>144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_08_Register_Login_Dynamic_Locator_Rest_Parameter.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_08_Register_Login_Dynamic_Locator_Rest_Parameter@4fb0f2b9]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="d37183">  <td>21/01/20 16:05:38</td>   <td>178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_11_Register_Login_Element_Undisplayed.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_11_Register_Login_Element_Undisplayed@4a94ee4]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/01/20 16:05:38</td>   <td>194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_02_Register_Login_Abstract_Page_2extends.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_02_Register_Login_Abstract_Page_2extends@4cc451f2]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>21/01/20 16:05:38</td>   <td>226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_02_Register_Login_Abstract_Page_01.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_02_Register_Login_Abstract_Page_01@3e58a80e]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>21/01/20 16:05:38</td>   <td>236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_05_Register_Login_Page_Factory.TC_03_View_My_Account()[pri:0, instance:com.nopcommerce.users.Level_05_Register_Login_Page_Factory@6379eb]">TC_03_View_My_Account</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/01/20 16:05:38</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_18_Live_Coding_Liveguru.TC_04_Product_Price()[pri:0, instance:com.liveguru.user.Level_18_Live_Coding_Liveguru@694abbdc]">TC_04_Product_Price</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="67827e">  <td>21/01/20 16:05:38</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_08_Register_Login_Dynamic_Locator_Rest_Parameter.TC_04_Rest_Parameter_01()[pri:0, instance:com.nopcommerce.users.Level_08_Register_Login_Dynamic_Locator_Rest_Parameter@4fb0f2b9]">TC_04_Rest_Parameter_01</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="d37183">  <td>21/01/20 16:05:38</td>   <td>182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_11_Register_Login_Element_Undisplayed.TC_04_Rest_Parameter_01()[pri:0, instance:com.nopcommerce.users.Level_11_Register_Login_Element_Undisplayed@4a94ee4]">TC_04_Rest_Parameter_01</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>21/01/20 16:05:38</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part1_Search.TC_04_Search_Product_With_Price()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part1_Search@359f7cdf]">TC_04_Search_Product_With_Price</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>21/01/20 16:05:38</td>   <td>117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_16_Register_Login_Close_Browser.TC_04_Sort_Price_Descending()[pri:0, instance:com.nopcommerce.users.Level_16_Register_Login_Close_Browser@6b927fb]">TC_04_Sort_Price_Descending</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ddaeda">  <td>21/01/20 16:05:38</td>   <td>163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part2_Sort.TC_04_Sort_Price_Descending()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part2_Sort@79924b]">TC_04_Sort_Price_Descending</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/01/20 16:05:38</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_07_Register_Login_Swith_Page_Type.TC_04_Switch_Page()[pri:0, instance:com.nopcommerce.users.Level_07_Register_Login_Swith_Page_Type@6356695f]">TC_04_Switch_Page</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="d299e3">  <td>21/01/20 16:05:38</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_09_Web_Data_Table.TC_05_Position()[pri:0, instance:com.nopcommerce.admin.Level_09_Web_Data_Table@1fa268de]">TC_05_Position</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="67827e">  <td>21/01/20 16:05:38</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_08_Register_Login_Dynamic_Locator_Rest_Parameter.TC_05_Rest_Parameter_02()[pri:0, instance:com.nopcommerce.users.Level_08_Register_Login_Dynamic_Locator_Rest_Parameter@4fb0f2b9]">TC_05_Rest_Parameter_02</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="d37183">  <td>21/01/20 16:05:38</td>   <td>185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_11_Register_Login_Element_Undisplayed.TC_05_Rest_Parameter_02()[pri:0, instance:com.nopcommerce.users.Level_11_Register_Login_Element_Undisplayed@4a94ee4]">TC_05_Rest_Parameter_02</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>21/01/20 16:05:38</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_15_Register_Login_Share_State_Part1_Search.TC_05_Search_Product_With_Manufacturer()[pri:0, instance:com.nopcommerce.users.Level_15_Register_Login_Share_State_Part1_Search@359f7cdf]">TC_05_Search_Product_With_Manufacturer</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/01/20 16:05:38</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_18_Live_Coding_Liveguru.TC_07_Compare_Product()[pri:0, instance:com.liveguru.user.Level_18_Live_Coding_Liveguru@694abbdc]">TC_07_Compare_Product</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/01/20 16:05:38</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_18_Live_Coding_Liveguru.TC_08_Share_Wishlist()[pri:0, instance:com.liveguru.user.Level_18_Live_Coding_Liveguru@694abbdc]">TC_08_Share_Wishlist</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/01/20 16:05:38</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_18_Live_Coding_Liveguru.TC_09_Add_Review()[pri:0, instance:com.liveguru.user.Level_18_Live_Coding_Liveguru@694abbdc]">TC_09_Add_Review</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/01/20 16:05:38</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_18_Live_Coding_Liveguru.TC_11_Search_Product()[pri:0, instance:com.liveguru.user.Level_18_Live_Coding_Liveguru@694abbdc]">TC_11_Search_Product</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="938063">  <td>21/01/20 16:05:38</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Level_20_Sort_ASC_DESC.TC_11_Search_Product()[pri:0, instance:com.saucelab.Level_20_Sort_ASC_DESC@4f6ee6e4]">TC_11_Search_Product</td> 
  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>21/01/20 16:05:38</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Level_16_Register_Login_Close_Browser.afterClass()[pri:0, instance:com.nopcommerce.users.Level_16_Register_Login_Close_Browser@6b927fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448525331</td>   <td></td> </tr>
<tr bgcolor="87b79e">  <td>21/01/20 16:05:38</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Level_17_Register_Login_Pattern_Object.afterClass()[pri:0, instance:com.nopcommerce.users.Level_17_Register_Login_Pattern_Object@294425a7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448525331</td>   <td></td> </tr>
</table>
