<h2>Reporter output</h2><table><tr><td>[INFO ] [2021-01-20 16:05:38,461] OS name = windows 10
<br></td></tr>
<tr><td>[INFO ] [2021-01-20 16:05:38,461] 
<br></td></tr>
<tr><td>[INFO ] [2021-01-20 16:05:38,548] OS name = windows 10
<br></td></tr>
<tr><td>[INFO ] [2021-01-20 16:05:38,548] 
<br></td></tr>
</table>